*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    min-width: 100px;
    min-height: 100px;
    padding: 5rem;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
.grandparent{
    background: #b1d4e0;
    color:black;
  }
  
  .parent{
    background: #145da0;
  }
  
  .child{
    background: #0c2d48;
  }